.App {
  text-align: center;
}

.App > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}
section.App-twoColumns {
  color: #222;
}
.App-slider {
  background-color: #2e3428;
}

.App-header {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  h1, h2 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
}

.App-editBox {
  position: absolute;
  top: 15px;
  right: 15px;
  button {
    &:hover {
      cursor: pointer;
    }
  }
}
.App-counter {
  padding: 5vh 0;
}
button.addBlock {
  position: fixed !important;
  bottom: 15px;
  right: 15px;
}