.App {
  text-align: center;
}

.App-header, .App-slider {
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-slider {
  background-color: #2e3428;
}

.App-header {
  background-color: #282c34;
}

.Edit-movable {

}